@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Đại Học Công Nghiệp Thực Phẩm TP Hồ Chí Minh<br />
    140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, Thành phố Hồ Chí Minh <br />
    <abbr title="Phone">SĐT:</abbr>
    0332 243 342
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tri.dominh0402@gmail.com">Tri.dominh0402@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nghia.nguyentrong@gmail.com">Nghia.nguyentrong@gmail.com</a>
</address>